.pokedex-page-container {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background-color: #5BB8FB;
  border: 1px solid black;
}

.pokedex-title {
  display:flex;
  height: 10rem;
  width: 25rem;
  margin: 0 auto;
  padding: 3rem;
}

.pokedex-table-container {
  width:70%;
  margin:0 auto;
  background-color: white;
  border-radius:5px;
  border: 2px solid black;
}

.avatarSmallText {
  width: '2.75rem';
  height: '2.75rem';
  border: 2px solid black;
}

@media screen and (max-width: 600px) { 
  .pokedex-title {
    height: 7rem;
    width: 16rem;
  }
}